{% extends 'base.html' %}

{% load i18n crispy_forms_tags humanize board_tags %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% crispy form %}
    {% else %}
        {% include 'account/login_buttons.html' %}
        <div class="text-xs-center">{% trans 'Please sign in to add messages and comments' %}</div>
    {% endif %}

    <div id="msg_board" class="row infinite-container">

        {% for msg in msgs %}
            {% render_msg msg comments_all.by_message|get:msg.pk %}
        {% endfor %}

    </div>

    <div class="loading" style="display: none;">
        {% trans 'Loading' %}...
    </div>

    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">{% trans 'More' %}</a>
    {% endif %}

{% endblock %}

{% block javascript %}
    <script>
        var csrf = "{% csrf_token %}".replace(/'/g, '"');

        function bind_editable() {
            $('.editable').editable({
                params: function(params) {
                    params[params['name']] = params['value'];
                    params["csrfmiddlewaretoken"] = $(csrf).val();
                    return params;
                },
                error: function(data) {
                    if (data.status != 400) {
                        return "{% trans 'Something went wrong' %}";
                    }
                    else{
                        var errors = $.parseJSON(data.responseText);
                        if(errors.text){
                            return errors.text[0];
                        }
                    }
                }
            });
        }

        function apply_form_field_error(form, fieldname, error) {
            var input = $(form).find("#id_" + fieldname),
                container = $(form).find("#div_id_" + fieldname),
                error_msg = $("<span />").addClass("form-control-feedback").html('<strong>'+error[0]+'</strong>');

            container.addClass("has-danger");
            input.addClass("form-control-danger");
            error_msg.insertAfter(input);
        }

        function clear_form_field_errors(form) {
            $(".form-control-feedback", $(form)).remove();
            $(".has-danger", $(form)).removeClass("error");
        }

        function reply_submit(form) {
            var self = $(form);
            var url = self.attr("action");
            clear_form_field_errors(form);
            $.ajax({
                url: url,
                type: "POST",
                data: self.serialize(),
                success: function(data) {
                    clear_form_field_errors(form);
                    $(form).find("#id_text").val('');
                    var thread = $(form).closest('.media-heading').next().find('.media-body')[0];
                    var comment = $("<div />").html(data.comment);
                    thread.append(comment[0]);

                    {# bind editable for just added messages #}
                    bind_editable();
                    bind_reply();
                },
                error: function(data) {
                    var errors = $.parseJSON(data.responseText);
                    $.each(errors, function(index, value) {
                        apply_form_field_error(self, index, value);
                    });
                }
            });
        }

        function bind_reply() {
            $('.reply_button').on('click', function () {
                var target = $(this).data('reply');
                var msg_id = $(this).data('msg');
                var comment_id = $(this).data('comment');

                if(!$('#' + target + ' .reply_form').length) {
                    $('#' + target).html('<form class="reply_form" action="{% url 'board:comment_add' %}" onsubmit="reply_submit(this);return false;">'+csrf+'<div id="div_id_text" class="form-group"><label for="id_text">{% trans 'Your Comment' %}</label><textarea required id="id_text" name="text" class="form-control" rows="3"></textarea></div><input type="hidden" name="msg" value="'+msg_id+'"><input type="hidden" name="comment" value="'+comment_id+'"><button type="submit" class="btn btn-primary">{% trans 'Send' %}</button></form>');
                }
            });
        }

        $(function() {
            //turn to inline mode
            $.fn.editable.defaults.mode = 'inline';
            bind_editable();
            bind_reply();

            var infinite = new Waypoint.Infinite({
                element: $('.infinite-container')[0],
                onBeforePageLoad: function () {
                    $('.loading').show();
                },
                onAfterPageLoad: function ($items) {
                    $('.loading').hide();
                    bind_editable();
                    bind_reply();
                }
            });

        });
    </script>
{% endblock javascript %}
