{% load i18n humanize %}
{% load board_tags %}

<div class="media {% if not msg.msg_id %}infinite-item{% endif %}">
    <div class="media-heading">
        {{ msg.created_by }} - {{ msg.date_created|naturaltime }}
        <p
          {% if request.user.pk == msg.created_by_id %}
              class="editable" data-type="textarea" data-name="text" data-pk="{{ msg.pk }}"
              {% if msg|classname == 'Message' %}
                  data-url="{% url 'board:message_edit' msg.pk %}"
              {% else %}
                  data-url="{% url 'board:comment_edit' msg.pk %}"
              {% endif %}
          {% endif %}
        >{{ msg.text }}</p>
        {% if request.user.is_authenticated %}
            <span>
                <a class="reply_button" data-reply="reply_comment{{ msg|classname }}{{ msg.pk }}" role="button" data-toggle="collapse" href="#reply_comment{{ msg|classname }}{{ msg.pk }}" aria-expanded="false" aria-controls="collapseReply"
                    {% if msg.msg_id %}
                        data-msg="{{ msg.msg_id }}" data-comment="{{ msg.pk }}"
                    {% else %}
                        data-msg="{{ msg.pk }}" data-comment=""
                    {% endif %}
                >reply</a>
            </span>
        {% endif %}
        <div class="comment-meta">
          <div class="collapse" id="reply_comment{{ msg|classname }}{{ msg.pk }}">
            {# reply form will be inserted here #}
          </div>
        </div>
    </div>

    <div class="msg_thread" id="collapse_thread{{ msg|classname }}{{ msg.pk }}">

      <div class="media-body">
        <!-- comment-meta -->
        {% for comment in comments %}
            {% render_msg comment comments_all.by_comment|get:comment.pk %}
        {% endfor %}
      </div>
    </div>
    <!-- comments -->

</div>
