.socialaccount_providers{
    list-style-type: none;
    text-align: center;
}

.socialaccount_providers li{
    margin-bottom: 10px;
}

#msg_board{
  padding-bottom: 9px;
  margin: 5px 0 5px;
}

.tac{
  text-align: center !important;
}

#msg_board .comment-meta{
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

#msg_board .media{
  border-left: 1px dotted #000;
  margin-bottom: 5px;
  padding-left: 10px;
}

#msg_board .media-heading{
  font-size: 12px;
  color: grey;
}

#msg_board .media-heading p{
  font-size: 16px;
  font-weight: bolder;
  color: black;
  text-align: justify;
}

#msg_board .comment-meta a{
  font-size: 12px;
  color: grey;
  font-weight: bolder;
  margin-right: 5px;
}

.editable{
  background-color: yellow;
  cursor: pointer;
}

.editable-container{
  width: 100% !important;
}

.editable-input textarea{
  resize: both;
}
